<mat-toolbar color="primary">
  <a><span class="fa fa-map fa-lg"></span> MapSpace</a>
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/dashboard" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Dashboard</a>
  <a mat-button routerLink="/draw" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Area</a>
  <a mat-button routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  <a mat-button routerLink="/login" routerLinkActive="active"><span class="fa fa-sign-in fa-lg"></span> Login</a>
  <a mat-button routerLink="/admin" routerLinkActive="active"><span class="fa fa-users fa-lg"></span> Admin</a>
  <button mat-button (click)="logout()">Log out</button>
</mat-toolbar>
