mat-form-field{
  width: 300px;
}

.card{
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.parent{
  display: table-cell;
  vertical-align: middle;
}

.background{
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-image: url("../../assets/login.png");
  background-size: cover;
}

.example-header-image {
  background-image: url("../../assets/login-icon.jpg");
  background-size: cover;
}
