<mat-grid-list cols="4" rowHeight="400px">
  <mat-grid-tile
    [colspan]=2
    [rowspan]=1>
    <mat-card style="margin-top: 10px; margin-bottom: 10px; ">
      <mat-card-header>
        <div mat-card-avatar class="weather"></div>
        <mat-card-title>Weather</mat-card-title>
        <mat-card-subtitle>Wattala</mat-card-subtitle>
      </mat-card-header>
      <div class="chart">
        <canvas #chart></canvas>
      </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]=2
    [rowspan]=1>

    <mat-card class="value_card">
      <mat-card-header>
        <div mat-card-avatar class="landValue"></div>
        <mat-card-title>Land Values</mat-card-title>
        <mat-card-subtitle>Last updated on 10/05/2019</mat-card-subtitle>
      </mat-card-header>
      <table mat-table
             [dataSource]="dataSource" multiTemplateDataRows
             class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of dataColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let land"> {{land[column]}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let land" [attr.colspan]="dataColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="land == expandedLand ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <img src={{land.src}} width="120" height="105">
              </div>
              <div class="example-element-description">
                {{land.description}}
                <span class="example-element-description-attribution"> -- Prime Lands </span>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
        <tr mat-row *matRowDef="let land; columns: dataColumns;"
            class="example-element-row"
            [class.example-expanded-row]="expandedLand === land"
            (click)="expandedLand = expandedLand === land ? null : land">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

    </mat-card>

  </mat-grid-tile>
</mat-grid-list>


