.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}
.parent{
  display: table-cell;
  vertical-align: middle;
}

.example-full-width {
  width: 100%;
}

.background{
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-image: url("../../assets/animal-dawn-desktop-backgrounds-875858.jpg");
  background-size: 1600px 1000px;
}
